#posts {
    overflow: hidden;
}

.index .post {
    float: unset;
}


* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  text-rendering: optimizeLegibility;
}

body {
  -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-thumb {
  background-color: #ff00e6;
}

::-webkit-scrollbar-track {
  background: #000; 
}

.post_text {
    background-color: transparent !important;
}