* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  text-rendering: optimizeLegibility;
}
body {
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 1rem;
}
::-webkit-scrollbar-thumb {
  background-color: #f9c4ff;
}
::-webkit-scrollbar-track {
  background: var(--bkg-color); 
}
.post_text {
  background-color: transparent !important;
}
#posts {
  overflow: hidden;
}
.index .post {
  float: unset;
}
.tumblr_blog {
  display: none !important;
}
.post.type_text.loaded p {
  display: none !important;
}
/* DARK MODE */
.btn-toggle {
  background: transparent !important;
  border: unset !important;
  cursor: pointer !important;
  font-size: 30px !important;
  position: fixed !important;
  color: #f9c4ff;
}
body {
  --bkg-color: #fff;
}
body.dark-theme {
  --bkg-color: #131313;
}
@media (prefers-color-scheme: dark) {
  body {
    --bkg-color: #131313;
  }
  body.light-theme {
    --bkg-color: #fff;
  }
}
body {
  background: var(--bkg-color);
}
